# Node modules
/node_modules/

# TypeScript build output
/dist/
/build/

# Prisma
/prisma/migrations/
/prisma/dev.db

# Environment variables
.env

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# npm package-lock file (if using npm)
package-lock.json

# Yarn lock file (if using yarn)
yarn.lock

# IDE and editor specific files
.vscode/
.idea/

# Test coverage
/coverage/

#vercel
.vercel

# Temporary files
*.tmp
*.swp
